APP_NAME=LoreGuard
APP_VERSION=0.1.0
DEBUG=True

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=loreguard
DATABASE_USER=loreguard
DATABASE_PASSWORD=your_password_here
OBSIDIAN_VAULT_PATH=C:\path\to\your\vault